body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.navigationBar {
  background-color: grey;
  height: 200px;
  width: 100vw;
}

.logo {
  height: 200px;
  width: 500px;
}
.main {
  width: 100vw;
}
.test {
  height: 500px;
}
.test h1 {
  padding: 50px 0px;
}
